.grow-your-skills {
  .hero-skills {
    background-color: $c-white;
    background-image: url(../img/icons/clouds/hero-cloud-big-white.svg);
    background-repeat: no-repeat;
    background-position: 100% 72px;
    background-size: 44% 138%;

    .texts-container {
      padding-top: 105px;
      padding-bottom: 237px;
    }

    .texts-wrap {
      width: 100%;
      max-width: 643px;
      .title-label {
        font-size: 50px;
        margin-bottom: 20px;


      }
      .description-label {
        font-size: 24px;
        line-height: 38px;
      }
    }

    .cloud-img {
      position: absolute;
      right: 0;
      max-width: 699px;
      top: 0;
      user-select: none;
    }

    @media screen and (max-width: 767px) {
      .texts-container {
        padding: 100px 10px;
      }

      .texts-wrap {
        .title-label {
          font-size: 1.75em;
          line-height: 1.167;
        }
        .description-label {
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }

  .learn-basics-tabs {
    position: relative;
    padding-top: 0;
    margin-top: -20px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: #f2f5f5;
      z-index: 1;
      user-select: none;
    }
  }

  .homepage-screen-divided_sections {
    .grid-container {
      .max-sized {
        align-items: stretch;
      }
    }

    .section-separator {
      &:first-child {
        padding: 125px 0 0;
        @media screen and (max-width:1200px) {
          padding: 5px 0 0;
        }
      }
    }
    .first-screen-separator {
      &:first-child {
        padding-top: 89px;
        @media screen and (max-width:1200px) {
          padding-top: 60px;
        }
      }
    }
    .last-screen-separator {
      &:first-child {
        // padding: 121px 0 216px;
        padding-bottom: 216px;
        @media screen and (max-width: 1200px) {
          padding-bottom: 100px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .first-screen-separator,
      .section-separator,
      .last-screen-separator {
        &:first-child {
          padding: 35px 0 20px;
        }
      }

      .texts-container {
        padding-top: 18px;
      }
    }

    @media screen and (max-width: 600px) {
      .first-screen-separator,
      .section-separator,
      .last-screen-separator {
        &:first-child {
          padding: 30px 0;
        }
      }
    }

    .heading-wrapper {
      max-width: 1120px;
      margin: 0 auto;

      h2 {
        margin-bottom: 7rem;
      }
      @media screen and (max-width: 1024px) {
        h2 {
          margin-bottom: 3rem;
        }
      }
    }

    .img-wrapper {
      align-items: flex-start;
      @media screen and (max-width: 1200px) {
        align-items :flex-end
      }
      img {
        max-width: 100%;
        max-height: 500px;
        @media screen and (max-width: 1200px) {
          max-height: 400px;
        }
        @media screen and (max-width: 991px) {
          max-height: 240px;
        }
      }
    }

    .texts-container {
      .title-label {
        margin-top: 85px;

        @media screen and (min-width: 992px) {
          line-height: 50px;
        }
      }

      @media screen and (max-width: 991px) {
        .title-label {
          margin-top: 10px;
        }
      }
    }

    .description-label {
      margin-top: 1.82rem;
      @media screen and (max-width: 991px) {
        margin-top: 1em;
      }
    }

    .button {
      max-width: 322.77px;
      padding-right: 31px;
      padding-left: 37px;
      margin-top: 54px;
      margin-bottom: 20px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 0;
      }
      span {
        margin-top: 4px;
      }

      @media screen and (max-width: 991px) {
        margin-top: 30px;
      }
    }

    .cards-container {
      margin-top: 70px;
      align-items: flex-start;

      ul {
        li {
          font-size: 14px;
          line-height: 22px;
          margin: 0;
          list-style: none !important;
        }
      }
    }

    .card-item {
      display: flex;
      margin-bottom: 1.5rem;
      padding-left: 12px;
      padding-right: 12px;

      .card-wrap {
        width: 100%;
        height: 100%;
        background-color: $c-white;
        // display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 200ms cubic-bezier(0.75, 0.17, 0.47, 0.91);

        &:hover {
          transform: scale(1.03);
        }
      }

      .card-img {
        img {
          object-fit: cover;
          object-position: center;
          margin-left: 0;

          @media screen and (max-width: 1024px) {
            max-width: unset;
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 25px 44px 28px 29px;

        @media screen and (max-width: 1024px) {
          padding: 25px 18px;
        }

        @media screen and (max-width: 500px) {
          padding: 15px 18px;
        }
      }

      .card-label-date {
        position: relative;
        margin-bottom: 1.6rem;
        line-height: 24px;

        @media screen and (min-width: 992px) and (max-width: 1180px) {
          margin-bottom: 1em;
        }

        .card-label {
          color: $c-white;
          display: inline-block;
          background-color: $c-blue-dark5;
          position: relative;
          text-transform: uppercase;
          z-index: 9;
          padding-right: 0.72em;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: $c-blue-dark5;
            position: absolute;
            left: -30px;
            top: 0;
            z-index: -1;
          }

          @media screen and (max-width: 1024px) {
            &::before {
              left: -18px;
            }
          }
        }

        .card-date {
          margin-left: 0.8em;

          @media screen and (min-width: 992px) and (max-width: 1180px) {
            margin-top: 1em;
            margin-left: 0;
            display: block;
          }

          @media screen and (max-width: 420px) {
            margin-top: 1em;
            margin-left: 0;
            display: block;
          }
        }

        @media screen and (max-width: 767px) {
          margin-bottom: 1em;
        }
      }

      .card-title {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 0.7rem;
      }

      // .card-decription {
      // }

      .card-link {
        margin-top: 2.35rem;

        a {
          color: $c-black;
          font-weight: 500;

          &:hover {
            color: $c-green;
          }
        }

        span {
          margin-left: 1em;
        }

        @media screen and (max-width: 767px) {
          margin-bottom: 1.6em;
        }
      }
    }
  }
  .homepage-screen-divided_sections .section-separator:nth-child(2n+1) .column-gap {
    padding-right: 0;
  }
}

.event_list{
  .card-item{
    .card-img{
      height: 200px;
    }
    .card-content{
      .card-description{
        margin-bottom: 50px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 60px;
        }
      }
      .card-link{
        position: absolute;
        bottom: 30px;
        margin-top: 0;
        @media screen and (max-width: 1024px) {
          bottom: 18px;
        }
      }
    }
  }
}