// 1. Configuration and helpers
@import "abstracts/variable/variable";
@import "abstracts/variable/color";

@import "abstracts/functions", "abstracts/mixins";

// 2. Vendors
@import "vendor/normalize", "vendor/loryslider", "vendor/flexboxgrid";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

@import "base/animations";

// 4. Layout-related sections
@import "layout/grid", "layout/header", "layout/footer";

@import "vendor/grid";
@import "vendor/slick";
@import "layout/general";


@import "components/general";
@import "components/tweet-box";
@import "components/search";
@import "components/card";
@import "components/button";
@import "components/tabs";
@import "components/share";
@import "components/forms";
