// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  position: relative;
  display: block;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: block;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  color: $c-black;
  font-family: $font-set;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  -webkit-touch-callout: none;
  -khtml-user-select: none;

  -webkit-overflow-scrolling: touch;

  @media (max-width: 575.98px) {

    &:before,
    &:after {
      z-index: -1;
      content: '';
      position: absolute;

      top: 0;
      left: $mobile-side-space;

      width: 1px;
      height: 100%;

      background-color: $c-gray-base-light;

      // remove lines.
      display: none;
    }

    &:after {
      right: $mobile-side-space;
      left: initial;
    }
  }
}

.main::before {
  @media (max-width: 575.98px) {
    z-index: -1;

    content: '';
    position: absolute;

    top: 0;
    left: calc(50% - .5px);

    width: 1px;
    height: 100%;

    background-color: $c-gray-base-light;

    // remove lines.
    display: none;
  }
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


// default linkage.
a {
  color: $c-blue;
  cursor: pointer;
  text-decoration: none;


  &:hover,
  &:focus {
    color: $c-green;
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }
}
