.blog-detail {
  &__publish {
    p {
      span {
        color: $c-blue-default !important;
        &:hover {
          color: #002ed7 !important;
        }
      }
    }
  }

  &__content {
    .emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 0.07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }

    code {
      color: #e83e8c;
    }
  }
  p {
    a {
      @media screen and (min-width: $screen-lg) {
        word-break: keep-all;
      }
    }
  }
}

.content-pages {
  &.blog-detail {
    h1 {
      @media screen and (min-width:$screen-md) {
        max-width: 92%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .container {
      max-width: 1150px;
    }

    div.code-toolbar .toolbar {
      opacity: 1;
    }

    .code-toolbar:hover .copy-to-clipboard-button {
      background-color: rgba(255, 255, 255, 0.9) !important;
    }

    .copy-to-clipboard-button {
      cursor: pointer;
      border: 0 !important;
      font-size: 12px !important;
      text-transform: uppercase;
      font-weight: 500 !important;
      padding: 5px 6px 5px 6px !important;
      background-color: rgba(255, 255, 255, 0.6) !important;
      position: absolute;
      overflow: hidden !important;
      top: 5px;
      right: 5px;
      border-radius: 3px !important;
      color: $c-black;
      @include flexbox;

      span {
        color: $c-black;
        font-size: 12px !important;
      }

      &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 3px;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='888 888 16 16' enable-background='new 888 888 16 16' xml:space='preserve'%3E %3Cpath fill='%23333333' d='M903.143,891.429c0.238,0,0.44,0.083,0.607,0.25c0.167,0.167,0.25,0.369,0.25,0.607v10.857 c0,0.238-0.083,0.44-0.25,0.607s-0.369,0.25-0.607,0.25h-8.571c-0.238,0-0.44-0.083-0.607-0.25s-0.25-0.369-0.25-0.607v-2.571 h-4.857c-0.238,0-0.44-0.083-0.607-0.25s-0.25-0.369-0.25-0.607v-6c0-0.238,0.06-0.5,0.179-0.786s0.262-0.512,0.428-0.679 l3.643-3.643c0.167-0.167,0.393-0.309,0.679-0.428s0.547-0.179,0.786-0.179h3.714c0.238,0,0.44,0.083,0.607,0.25 c0.166,0.167,0.25,0.369,0.25,0.607v2.929c0.404-0.238,0.785-0.357,1.143-0.357H903.143z M898.286,893.331l-2.67,2.669h2.67V893.331 z M892.571,889.902l-2.669,2.669h2.669V889.902z M894.321,895.679l2.821-2.822v-3.714h-3.428v3.714c0,0.238-0.083,0.441-0.25,0.607 s-0.369,0.25-0.607,0.25h-3.714v5.714h4.571v-2.286c0-0.238,0.06-0.5,0.179-0.786C894.012,896.071,894.155,895.845,894.321,895.679z M902.857,902.857v-10.286h-3.429v3.714c0,0.238-0.083,0.441-0.25,0.607c-0.167,0.167-0.369,0.25-0.607,0.25h-3.714v5.715H902.857z' /%3E %3C/svg%3E");
        background-repeat: no-repeat;
        position: relative;
        top: 0;
      }
    }

    .Wp-block-quote {
      font-size: 15px;
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 16px 10px 16px 0px;
      padding: 0 0 0 10px;
    }
    figure {
      img {
        max-width: 100%;
        @media screen and (min-width: $screen-md) {
          max-width: 800px;
        }
        &.full-width {
          max-width: 100%;
        }
      }
      iframe {
        max-width: 100%;
        margin-top: 1rem;
      }
      &.ml-auto {
        margin-left: auto;
        margin-right: auto;
        display: table;

        figcaption {
          margin-top: 0.5em;
        }
      }
    }
  }
}
