.button {
  font-size: inherit;
  position: relative;
  display: inline-block;
  padding: 0 30px;
  height: 45px;
  line-height: 43px;
  border-radius: 0;
  transition: all 0.35s ease-in-out;

  &--large {
    height: auto;
    line-height: 1.5 !important;
    padding: 9.5px 30px;
  }  
   
  &--blue {
    background-color: $c-blue-default;
    color: $c-white;
    &:hover,
    &:focus {
      color: $c-white;
      background-color: $c-blue-light2;
      border-color: $c-blue-light3;
    }
  }

  &--green {
    background-color: $c-green-dark;
    color: $c-white;
    &:hover,
    &:focus {
      color: $c-white;
      background-color: $c-green-dark2;
      border-color: $c-green-dark3;
    }
  }

  &__border {
    &--blue {
      @include border-all(1px, solid, $c-blue-default);
      color: $c-blue-default;

      &:hover,
      &:focus {
        color: $c-blue-default;
      }
    }
    &--blue-dark {
      @include border-all(1px, solid, $c-blue-dark);
      color: $c-blue-dark;
      line-height: 41px;
      &:hover,
      &:focus {
        @include border-all(1px, solid, $c-black);
        color: $c-black;
      }
    }

    &--white {
      color: $c-white;
      @include border-all(1px, solid, $c-white);
      transition: all 0.35s ease-in-out;
      line-height: 41px;
      &:hover,
      &:focus {
        color: $c-white;
      }
    }
    &--black {
      @include border-all(1px, solid, $c-black);
      color: $c-black;

      &:hover,
      &:focus {
        color: $c-blue-dark;
        @include border-all(1px, solid, $c-blue-dark);
      }
    }
    &--blue-bold {
      @include border-all(2px, solid, $c-blue-dark);
      color: $c-blue-dark;
      line-height: 41px;
      &:hover,
      &:focus {
        @include border-all(2px, solid, $c-black);
        color: $c-black;
      }
    }
  }

  &--arrow {
    &::after {
      content: "\2192";
      position: absolute;
      right: 10px;
      font-size: 2em;
      height: 11px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 0;
      margin-top: 5px;
      @media screen and (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }

  &--wide {
    @media screen and (min-width: $screen-md) {
      min-width: 198px;
      text-align: center;
    }
  }
}
