.company {
  .teaser {
    background: red;
    &__img {
      flex: 0 0 100%;
      @media screen and (min-width: $screen-sm) {
        flex: 0 0 41.66667%;
      }
    }
    &__text-content {
      flex: 0 0 100%;
      @media screen and (min-width: $screen-sm) {
        flex: 0 0 58.33333%;
      }
    }
  }
}

.company {
  .cta-banner {
    &__content {
      padding: 30px 15px 40px 15px;
      @media screen and (min-width: $screen-md) {
        padding: 46px 50px 60px 50px;
      }
    }
  }
  .colors.type-2 .bar:nth-child(4) {
    flex: 1 1 20.2%;
  }
}
